table{
    border: 1px solid black;
    margin: 0% auto;
}
input[type="button"]{
    width: 100%;
    padding: 30px 20px;
    font-size: 24px;
    font-weight: bold;
    background-color:white;
    color: black;
    border:none ;
    border-radius: 4px;
}
input[type="text"]{
    width: 83%;
    padding: 30px 30px;
    font-size: 24px;
    font-weight: bold;
    color: white;
    border:none ;
    border-radius: 4px;
    border: 2px solid black;
}
body{
    background-color: grey;
}
h1{
    text-align: center;
}
head{
    padding-top: 30%;
}


#but1{
    background-color: red;
}
